# Object Oriented Programming (OOPs)

In [1]:
# procedure oriented 

a = 10
b = 15

a = a+b

c = b-a

print(a)
print(c)

25
-10

#### Object Oriented Programming
- An object oriented programming is used to design the program using class and objects.

##### Class :
    - Class contains blueprint or prototype for which the object are beign created.
    - It is logical entity that have some specific attributes and methods.

        for eg. if you have employee class
        ie. name,emp_id,age,salary,email,...

        ---to define the class----
            class class_name:
                    body (attributes and methods)

In [2]:
class student:
    name = 'kevin'

### Object and object instance
    - It is basic runtime entity which executes class / which represents the class.
    - The object is an entity that has state and behavior.
    - The object is a group of interrelated variables and functions. These variables are often referred as properties of the objects and function are referred to the behaviour of the object.

    Syntax :
        object_name = class_name()

In [3]:
s1 = student()

In [4]:
print(s1)

<__main__.student object at 0x000001E6AD974D50>

In [5]:
print(s1.name)

kevin

#### Contructor (__init__ function)
   
    - All classes have a function called __init__(), which is always executes when object is being inititated

In [6]:
def add(a,b):
    return a+b

In [1]:
class student:
    def __init__(self,fullname):
        self.name = fullname
        print("adding the student in the database")

In [22]:
s2 = student('kevin')

adding the student in the database

In [17]:
s2

In [23]:
s2.name

'kevin'

In [24]:
s3= student('David')

adding the student in the database

In [25]:
s3.name

'David'

In [27]:
s4 = student('John')

adding the student in the database

In [28]:
s4.name

'John'

In [39]:
class student:
    college_name = 'abc'  # class attributes
    def __init__(self,fullname):
        self.name = fullname # object attributes
        print("adding the student in the database")

In [32]:
std1 = student('Rahul')

adding the student in the database

In [33]:
std1.name

'Rahul'

In [35]:
std1.college_name

'abc'

In [36]:
std2 = student('Johnny')

adding the student in the database

In [37]:
std2.name

'Johnny'

In [38]:
std2.college_name

'abc'

In [47]:
class student:
    college_name = 'abc' 
    name = 'xyz'  # class attribute
    def __init__(self,fullname,mrk):
        self.name = fullname # object attribute
        self.marks = mrk 
        print("adding the student in the database")

In [41]:
objt1 = student('Arjun',98)

adding the student in the database

In [42]:
objt2 = student('Karan',45)

adding the student in the database

In [43]:
objt2.college_name

'abc'

In [44]:
objt1.college_name

'abc'

In [46]:
objt2.marks

45

In [52]:
class student:
    college_name = 'abc' 
    name1 = 'xyz'  # class attribute
    def __init__(self,fullname,mrk):
        self.name = fullname # object attribute > class attribute
        self.marks = mrk 
        print("adding the student in the database")

In [53]:
new_object = student('Mahesh',87)

adding the student in the database

In [56]:
new_object.name1

'xyz'

In [55]:
new_object.college_name

'abc'

In [14]:
class student:
    college_name = 'abc' 
    def __init__(self,fullname,mrk,st_gender,st_city):
        self.name = fullname 
        self.marks = mrk
        self.gender = st_gender
        self.city = st_city
    def welcome(self):
        print('Welcome all !!!, We are learning OOPs concept')

In [15]:
s1 = student('Mark',[76,85,88],'Male','Pune')

In [16]:
s1.marks

[76, 85, 88]

In [35]:
s1.gender

'Male'

In [17]:
s1.welcome()

Welcome all !!!, We are learning OOPs concept

In [36]:
class student:
    college_name = 'abc' 
    def __init__(self,fullname,mrk,st_gender,st_city):
        self.name = fullname 
        self.marks = mrk
        self.gender = st_gender
        self.city = st_city
    @staticmethod 
    def welcome():
        print('Welcome all !!!, We are learning OOPs concept')
    
    def display(self):
        print('name of the student is : ',self.name)
        print('gender of the student is : ',self.gender)
        print('marks of the student is : ',self.marks)
        print('city of the student is : ',self.city)

In [37]:
std1 = student('Brain',[77,88,98],'Male','NY')

In [38]:
std1.display()

name of the student is :  Brain
gender of the student is :  Male
marks of the student is :  [77, 88, 98]
city of the student is :  NY

In [40]:
std2 = student('Novac',[66,83,75],'Male','Mumbai')

In [41]:
std2.display()

name of the student is :  Novac
gender of the student is :  Male
marks of the student is :  [66, 83, 75]
city of the student is :  Mumbai

### Static Method

    - Methods that dont use the self parameter (Work at class level)

    Syntax : 
        class class_name:
            @staticmethod  
            def function():
                statemtent

In [65]:
class student:
    college_name = 'abc' 
    def __init__(self,fullname,mrk,st_gender,st_city):
        self.name = fullname 
        self.marks = mrk
        self.gender = st_gender
        self.city = st_city
    @staticmethod
    def add(a,b):
        print('addition of a and b is',a+b)
    def display(self):
        print('name of the student is : ',self.name)
        print('gender of the student is : ',self.gender)
        print('marks of the student is : ',self.marks)
        print('city of the student is : ',self.city)

In [66]:
std1 = student('Brain',[77,88,98],'Male','NY')

In [67]:
std1.add(34,88)

addition of a and b is 122

In [68]:
std1.display()

name of the student is :  Brain
gender of the student is :  Male
marks of the student is :  [77, 88, 98]
city of the student is :  NY

In [71]:
## Create the student class that takes the name and marks of 4 subjects as agrgument in constructor
# then create a method to print the average marks

class student:
    def __init__(self,fullname,mrk):
        self.name = fullname 
        self.marks = mrk
    def get_avg(self):
        add = 0
        for i in self.marks:
            add += i
        print('Average marks is : ',add/4)

In [72]:
s4 = student('Tony',[87,86,85,90])

In [73]:
s4.get_avg()

Average marks is :  87.0